footer {
  grid-area: footer;
  height: 0;
}
header {
  grid-area: header;
}
main {
  grid-area: content;
  display: flex;
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #151515;
  --default-main-btn-size: 46px;
  --color-red: crimson;
  --color-green: #8b9862;
}

.App {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  margin: 1px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 0;
  gap: 1px 1px;
  grid-template-areas: 'header' 'content' 'footer';
}

header {
  margin: 1%;
}

header a {
  text-decoration: none;
}

.menu .hamburger-btn {
  position: absolute;
  margin: 25px;
  left: 1em;
  z-index: 999;
}

footer .searchBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin: 0 15px;
}

.bookcase-container {
  margin-top: 5%;
}

.spin {
  animation-name: 'spin';
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
}

.masonry li {
  margin: 10px;
  /* margin: 10px -20px;
    width: 150px;
    height: 200px; */
}

.book-view {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 95vh;
  width: 95vw;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  z-index: 999;
  padding: 16px;
}

.bg-overlay {
  background-color: #fcfcfc80;
}

.wid100 {
  width: 100%;
  height: 100%;
}

.loading {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.stack-container {
  position: relative;
  height: 100%;
}

/* ANIMATIONS */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes title-animations {
  0% {
    background-size: 160%;
  }
  50% {
    background-size: 70%;
  }
  100% {
    background-size: 30%;
  }
}
